.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

    .dropdown{
    display: inline-block;
    height: 40px;
    margin-left: 6px;
    vertical-align: top;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
#hom{
    margin-right: 10px;
    text-decoration: none;
}
#abut{
    margin-right: 10px;
    text-decoration: none;
}
#cntct{
    text-decoration: none;   
}
#contct{
    text-align: center;
    border: 2px solid black;
}
#accordion-body{
    border: 2px solid black;
}
#collapseOne{
    border: 2px solid black;
}
#accordion-body1{
    border: 2px solid black;
}
#collapseTwo{
    border: 2px solid black;
}
#accordion-body2{
    border: 2px solid black;
}
#collapseThree{
    border: 2px solid black;
}
.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}